<launch>
  <node name="speechToText" pkg="hmi_interpreter" type="speechToText.py"/>
  <node name="ros_parser" pkg="hmi_interpreter" type="ros_parser.py"/>
  <node name="pointing_server" pkg="hmi_interpreter" type="pointing_server.py"/>
  <node name="agent_server" pkg="hmi_interpreter" type="agent_server.py"/>
  <node name="gui" pkg="hmi_interpreter" type="gui.py"/>
  <node name="pointing_sub_left_hand" pkg="hmi_interpreter" type="pointing_sub_left_hand.py"/>
  <node name="pointing_sub_right_hand" pkg="hmi_interpreter" type="pointing_sub_right_hand.py"/>
  <node name="main_server" pkg="hmi_interpreter" type="main_server.py"/>
  <node name="viewpoint_server" pkg="hmi_interpreter" type="viewpoint_server.py"/>
  <node name="openEase_server" pkg="hmi_interpreter" type="openEase_server.py"/>
  <node name="openEase_sub" pkg="hmi_interpreter" type="openEase_sub.py"/>
  <node name="juliusToRos" pkg="hmi_interpreter" type="juliusToRos.py"/>
  
 
</launch>
